.hero-section{
      height: 105dvh;
      width: 100%;
      position: relative;
      overflow: hidden;
}
.hero-video{
    height: 100%;
    width: 100%;
    position: absolute;
}
.hero-texts{
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 50px 0px;
    -webkit-border-radius: 0px 0px 50px 0px;
    -moz-border-radius: 0px 0px 50px 0px;
    -ms-border-radius: 0px 0px 50px 0px;
    -o-border-radius: 0px 0px 50px 0px;
    padding-left: 5%;
}
.hero-texts-specific{
    position: absolute;
    z-index: 5;
}
.hero-texts h1{
       font-size: 55px;
       margin-bottom: 20px;
}
.hero-texts h1 span{
       color: var(--main-color);
}

.hero-texts a{
     width: 180px;
     height: 55px;
     border: 2px solid black;
     align-items: center;
     justify-content: center;
     border-radius: 55px;
     -webkit-border-radius: 55px;
     -moz-border-radius: 55px;
     -ms-border-radius: 55px;
     -o-border-radius: 55px;
     color: var(--main-color);
     font-weight: 500;
     gap: 5px;
     cursor: pointer;
     transition: all 0.3s ease;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -ms-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
}
.hero-texts a span{
    display: flex;
    margin-top: 3px;
}
.hero-texts a:hover{
    background: var(--main-color);
    color: white;
    border-color: var(--main-color);
}


.hero-texts-stuff{
    width: 100%;
    height: 100%;
    position: relative;
}

.hero-texts-stuff::before{
      content: "";
      backface-visibility: hidden;
      position: absolute;
      transform: translateX(70px);
      width: 70px;
      height: 70px;
      background-color: transparent;
      right: 0;
      border-radius: 50px 0px 0px 0px;
      -webkit-border-radius: 50px 0px 0px 0px;
      -moz-border-radius: 50px 0px 0px 0px;
      -ms-border-radius: 50px 0px 0px 0px;
      -o-border-radius: 50px 0px 0px 0px;
      -webkit-transform: translateX(70px);
      -moz-transform: translateX(70px);
      -ms-transform: translateX(70px);
      -o-transform: translateX(70px);
      box-shadow: -15px -20px  white;
      -webkit-backface-visibility: hidden;
}

.about-section{
    background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../assets/field.webp") no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0;
}
.about-section-content{
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin: auto;
}
.about-section-intro{
     text-align: center;
     width: 900px;
     margin: auto;
     color: whitesmoke
}
.about-section-intro h3{
     display: inline-block;
     padding: 10px 30px;
     font-size: 16px;
     font-weight: 400;
     border-radius: 20px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -ms-border-radius: 20px;
     -o-border-radius: 20px;
     background: rgba(130, 175, 150, 0.422);
}
.about-section-intro h2{
      font-size: 65px;
      font-weight: 600;
      line-height: 1.25;
      margin: 20px 0
}

.about-section-split{
      display: grid;
      grid-template-columns: 1fr 1.75fr;
      gap: 50px;
      margin-top: 40px;
}

.about-section-split img{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.about-section-col p{
     font-size: 22px;
     color: gainsboro;
     line-height: 1.5;
     margin-bottom: 10px;
}
.about-section-col a{
       width: 180px;
       height: 55px;
       border: 2px solid white;
       display: flex;
       align-items: center;
       justify-content: center;
       margin-top: 30px;
       color: white;
       font-weight: 400;
       font-size: 19px;
       border-radius: 55px;
       -webkit-border-radius: 55px;
       -moz-border-radius: 55px;
       -ms-border-radius: 55px;
       -o-border-radius: 55px;
       transition: all 0.5s ease-in-out;
       -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
       -ms-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;;
}
.about-section-col a:hover{
       background: white;
       color: var(--main-color);
       border-color: white;
       gap: 5px
}
.about-section-col a span{
     display: flex;
     margin-top: 4px;
}

.programs-section{
     background: var(--faded-bg);
     padding: 100px 0;
}

.programs-section-scroll{
       display: flex;
       gap: 70px;
       align-items: center;
}

.programs-section-intro{
     width: 50%;
     display: flex;
     flex-direction: column;
     gap: 100px;
}

.programs-section-intro h3{
    display: inline-block;
    padding: 12px 30px;
    background-color: rgba(179, 238, 205, 0.4);
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.programs-section-intro h2{
    font-size: 45px;
    font-weight: 700;
    line-height: 1.25;
    margin: 20px 0;
}

.programs-section-intro p{
     font-size: 20px;
     line-height: 1.5;
     color: rgb(50, 50, 50)
}

.programs-age-groups{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      width: 50%
}

.age-group-moja{
    background: white;
    padding: 12px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 0px 2px -1px gainsboro;
}

.age-group-moja img{
     height: 200px;
     border-radius: 8px;
     -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
     -ms-border-radius: 8px;
     -o-border-radius: 8px;
}
.age-texts{
    padding: 0 10px;
}
.age-texts h3{
     font-size: 22px;
     margin: 5px 0;
     font-weight: 600;
     color: rgb(50, 50, 50);
}
.age-texts h4{
    font-weight: 400;
    margin-bottom: 10px;
    color: rgb(80, 80, 80);
}

.programs-listing{
    margin-top: 50px;
}

.programs-listing-row{
    width: 1000px;
    margin: auto;
}

.activity-moja{
    background: white;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.activity-moja-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
}
.activity-moja.active .activity-moja-header{
      padding-bottom: 10px;
}
.activity-moja-header h3{
    font-size: 25px;
    font-weight: 580;
}

.activity-moja-header span{
    display: flex;
}
.activity-moja.active .activity-moja-header span{
      color: var(--main-color);
}
.activity-texts{
     max-height: 0;
     overflow: hidden;
     transition: all 0.75s ease;
     -webkit-transition: all 0.75s ease;
     -moz-transition: all 0.75s ease;
     -ms-transition: all 0.75s ease;
     -o-transition: all 0.75s ease;
}
.activity-moja.active .activity-texts{
    max-height: 300px;
}

.activity-texts-inner{
    padding-top: 5px;
    border-top: 1px solid rgba(215, 235, 227, 0.553);
}

.activity-texts p{
    font-size: 20px;
    color: rgb(80, 80, 80);
    line-height: 1.5;
}

.benefits-section{
     padding: 150px 0 180px 0;
     background: #142d2d;
}

.benefit-moja-row{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    gap: 70px;
    align-items: center;
}

.benefit-texts h2{
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--secondary-color);
}

.benefit-texts p{
    font-size: 22px;
    line-height: 1.4;
    font-weight: 350;
    color: gainsboro;
}

.benefit-image{
    max-height: 500px;
}
.benefit-image img{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: block;
}
.benefit-moja-row img{
        transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
}

.benefit-moja-row-two{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 80px;
    align-items: center;
    margin: 150px 0;
}
.benefit-moja-row-two img{
     transform: rotate(5deg);
     -webkit-transform: rotate(5deg);
     -moz-transform: rotate(5deg);
     -ms-transform: rotate(5deg);
     -o-transform: rotate(5deg);
}

.camp-section{
     padding: 100px 0;
     background: white;
}

.camp-section-intro{
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    gap: 70px;
    align-items: end;
}

.camp-section-intro h3{
    display: inline-block;
    padding: 12px 30px;
    background-color: rgba(179, 238, 205, 0.4);
    font-size: 15px;
    font-weight: 500;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.camp-section-intro h2{
     font-size: 45px;
     line-height: 1.3;
     margin-top: 20px;
}

.camp-section-intro p{
    font-size: 22px;
    line-height: 1.6;;
    color: #333;
}

.camp-links{
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.camp-links a:nth-child(1){
    font-size: 18px;
    background: var(--main-color);
    height: 55px;
    padding: 0 30px;
    align-items: center;
    color: white;
    font-weight: 400;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.camp-links a:nth-child(2){
     font-size: 20px;
     color: #222;
     align-items: center;
     gap: 5px;
}
.camp-links a:nth-child(2):hover{
     color: var(--main-color);
}

.camp-links a:nth-child(2) span{
    display: flex;
    margin-top: 3px;
}

.camp-section-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 40px;
}

.camp-section-images img{
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      height: 350px;
}

.camp-section-extra{
    margin-top: 80px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.camp-section-donation{
    background: #142d2d;
    border-radius: 20px;
    padding: 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    height: 650px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.camp-section-donation h3{
    font-size: 18px;
    color: gainsboro;
    font-weight: 600;
    margin-bottom: 20px;
}

.camp-section-donation h2{
    font-size: 36px;
    color: whitesmoke;
    line-height: 1.35;
    font-weight: 500;
}

.camp-section-donation a{
     width: 200px;
     display: flex;
     background: var(--secondary-color);
     height: 50px;
     align-items: center;
     justify-content: center;
     border-radius: 50px;
     -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
     -ms-border-radius: 50px;
     -o-border-radius: 50px;
     color: #222;
}
.camp-column{
     display: grid;
     grid-template-columns: 1fr;
     gap: 30px;
}
.call-to-action-camp{
    background: rgb(237, 242, 230);
    padding: 40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.call-to-action-camp h3{
     line-height: 1.5;
     font-size: 25px;
     font-weight: 500;
}
.call-to-action-camp a{
     height: 50px;
     width: 180px;
     align-items: center;
     justify-content: center;
     color: white;
     border-radius: 50px;
     background: var(--main-color);
     display: inline-flex;
     -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
     -ms-border-radius: 50px;
     -o-border-radius: 50px;
}
.camp-image img{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.blog-section{
     padding: 100px 0;
     background: rgb(246, 249, 240);
}

.blog-section-intro{
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.blog-section-intro h2{
    font-size: 50px;
    width: 500px;;
}

.blog-section-intro a{
     width: 200px;
     height: 50px;
     display:flex;
     align-items: center;
     justify-content: center;
     background: var(--main-color);
     gap: 5px;
     color: white;
     border-radius: 50px;
     -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
     -ms-border-radius: 50px;
     -o-border-radius: 50px;
}

.blog-section-intro a span{
    display: flex;
    margin-top: 2px;
}

.blog-section-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 40px;
}

.blog-moja{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    overflow: hidden;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.blog-moja-texts{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     padding: 30px;
     gap: 70px;
}
.blog-moja-texts h4{
     font-size: 16px;
     font-weight: 400;
     letter-spacing: -0.5px;
     color: #555;
}

.blog-moja-texts h3{
    font-size: 25px;
    margin-bottom: 5px;
    line-height: 1.3;
}
.blog-moja-texts a{
      display: inline-flex;
      align-items: center;
      gap: 5px;
      font-weight: 600;
      color: var(--main-color);
      position: relative;
      padding-bottom: 4px;
}
.blog-moja-texts a span{
    display: flex;
    margin-top: 3px;
}

.blog-moja-texts a::after{
     position: absolute;
     content: "";
     width: 0%;
     height: 2px;
     left: 0;
     border-radius: 10px;
     bottom: 0;
     background: var(--main-color);
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
     transition: all 0.75s ease;
     -webkit-transition: all 0.75s ease;
     -moz-transition: all 0.75s ease;
     -ms-transition: all 0.75s ease;
     -o-transition: all 0.75s ease;
}
.blog-moja-texts:hover a::after{
      width: 100%;
}
.call-to-action{
     background: #142d2d;
}
.call-to-action-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.call-to-action-texts{
    padding: 100px;
    display: flex;
    align-items: center;
}
.call-to-action-texts h3{
      font-size: 20px;
      color: whitesmoke;
      font-weight: 400;
      color: var(--secondary-color);
}
.call-to-action-texts h2{
    font-size: 60px;
    line-height: 1.3;
    margin: 30px 0 !important;
    color: whitesmoke;
}


.call-to-action-texts a{
     width: 200px;
     height: 50px;
     border-radius: 50px;
     -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
     -ms-border-radius: 50px;
     -o-border-radius: 50px;
     align-items: center;
     justify-content: center;
     color: #222;
     background-color: var(--secondary-color);
}




@media(max-width: 1090px){
       .hero-texts h1{
           font-size: 45px;
       }
       .about-section-content,
       .about-section-intro,
       .programs-listing-row,
       .programs-age-groups{
           width: 100%;
       }
       .programs-section-scroll{
             flex-direction: column;
             gap: 20px
       }
     
       .programs-section-intro{
              width: 100%;
              gap: 0;
       }
       .camp-section-intro{
            grid-template-columns: 1fr;
            gap: 10px;
       }
       .camp-section-extra,
       .blog-section-row{
            grid-template-columns: 1fr;
       }
}

@media(max-width: 768px){
    .hero-texts{
          width: 85%;
          height: 40%;
    }
    .hero-texts h1{
           font-size: 36px;
    }
    .about-section-intro h2,
    .call-to-action-texts h2{
         font-size: 50px;
         margin: 10px 0;
    }
    .about-section-split,
    .benefit-moja-row,
    .benefit-moja-row-two{
         grid-template-columns: 1fr;
         gap: 30px
    }
    .programs-age-groups{
          grid-template-columns: 1fr;
    }
    .benefits-section{
          padding: 100px 0;
    }
    .benefit-moja-row-two .benefit-image{
        order: 1
    }
    .benefit-moja-row-two img,
    .benefit-moja-row img{
     transform: rotate(0deg);
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     -o-transform: rotate(0deg);
}
   .benefit-moja-row-two{
         margin: 30px 0
   }
   .camp-section-images{
        grid-template-columns: 1fr;
   }
   .camp-section-donation{
        height: auto;
        gap: 40px;
   }
   .camp-section-donation h2{
        font-size: 28px;
   }
   .call-to-action-camp h3{
        font-size: 22px;
   }
   .call-to-action-content{
      grid-template-columns: 1fr;
   }
   .blog-section-intro{
         flex-direction: column;
         gap: 20px;
         align-items: flex-start;
   }
   .blog-section-intro h2{
         width: 100%;
         font-size: 40px;
   }
}
@media(max-width: 550px){
     .hero-texts{
           margin-top: -2px;
     }
     .about-section-intro h2,
     .call-to-action-texts h2{
           font-size: 45px;
     }
     .hero-texts h1,
     .programs-section-intro h2,
     .benefit-texts h2,
     .camp-section-intro h2,
     .blog-section-intro h2{
           font-size: 32px;
     }
     .about-section-col p,
     .age-texts h3,
     .activity-moja-header h3,
     .benefit-texts p,
     .camp-section-intro p{
           font-size: 20px;
     }
     .camp-links{
          gap: 20px
     }
     .blog-moja{
           grid-template-columns: 1fr;
     }
     .blog-moja-texts{
          gap:10px
     }
     .call-to-action-texts{
          padding: 80px 50px
     }
}