.hero-section{
      height: 105dvh;
      width: 100%;
      position: relative;
      overflow: hidden;
}
.hero-video{
    height: 100%;
    width: 100%;
    position: absolute;
}
.hero-texts{
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 50px 0px;
    -webkit-border-radius: 0px 0px 50px 0px;
    -moz-border-radius: 0px 0px 50px 0px;
    -ms-border-radius: 0px 0px 50px 0px;
    -o-border-radius: 0px 0px 50px 0px;
    padding-left: 5%;
}
.hero-texts-specific{
    position: absolute;
    z-index: 5;
}
.hero-texts h1{
       font-size: 55px;
       margin-bottom: 20px;
}
.hero-texts h1 span{
       color: var(--main-color);
}

.hero-texts a{
     width: 180px;
     height: 55px;
     border: 2px solid black;
     align-items: center;
     justify-content: center;
     border-radius: 55px;
     -webkit-border-radius: 55px;
     -moz-border-radius: 55px;
     -ms-border-radius: 55px;
     -o-border-radius: 55px;
     color: var(--main-color);
     font-weight: 500;
     gap: 5px;
     cursor: pointer;
     transition: all 0.3s ease;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -ms-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
}
.hero-texts a span{
    display: flex;
    margin-top: 3px;
}
.hero-texts a:hover{
    background: var(--main-color);
    color: white;
    border-color: var(--main-color);
}


.hero-texts-stuff{
    width: 100%;
    height: 100%;
    position: relative;
}

.hero-texts-stuff::before{
      content: "";
      backface-visibility: hidden;
      position: absolute;
      transform: translateX(70px);
      width: 70px;
      height: 70px;
      background-color: transparent;
      right: 0;
      border-radius: 50px 0px 0px 0px;
      -webkit-border-radius: 50px 0px 0px 0px;
      -moz-border-radius: 50px 0px 0px 0px;
      -ms-border-radius: 50px 0px 0px 0px;
      -o-border-radius: 50px 0px 0px 0px;
      -webkit-transform: translateX(70px);
      -moz-transform: translateX(70px);
      -ms-transform: translateX(70px);
      -o-transform: translateX(70px);
      box-shadow: -15px -20px  white;
      -webkit-backface-visibility: hidden;
}

.about-section{
    background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../assets/field.webp") no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0;
}
.about-section-content{
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin: auto;
}
.about-section-intro{
     text-align: center;
     width: 900px;
     margin: auto;
     color: whitesmoke
}
.about-section-intro h3{
     display: inline-block;
     padding: 10px 30px;
     font-size: 16px;
     font-weight: 400;
     border-radius: 20px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -ms-border-radius: 20px;
     -o-border-radius: 20px;
     background: rgba(130, 175, 150, 0.422);
}
.about-section-intro h2{
      font-size: 65px;
      font-weight: 600;
      line-height: 1.25;
      margin: 20px 0
}

.about-section-split{
      display: grid;
      grid-template-columns: 1fr 1.75fr;
      gap: 50px;
      margin-top: 40px;
}

.about-section-split img{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.about-section-col p{
     font-size: 22px;
     color: gainsboro;
     line-height: 1.5;
     margin-bottom: 10px;
}
.about-section-col a{
       width: 180px;
       height: 55px;
       border: 2px solid white;
       display: flex;
       align-items: center;
       justify-content: center;
       margin-top: 30px;
       color: white;
       font-weight: 400;
       font-size: 19px;
       border-radius: 55px;
       -webkit-border-radius: 55px;
       -moz-border-radius: 55px;
       -ms-border-radius: 55px;
       -o-border-radius: 55px;
       transition: all 0.5s ease-in-out;
       -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
       -ms-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;;
}
.about-section-col a:hover{
       background: white;
       color: var(--main-color);
       border-color: white;
       gap: 5px
}
.about-section-col a span{
     display: flex;
     margin-top: 4px;
}

.programs-section{
     background: var(--faded-bg);
     padding: 100px 0;
}

.programs-section-scroll{
       display: flex;
       gap: 70px;
}

.programs-section-intro{
     width: 600px;
     display: flex;
     flex-direction: column;
     gap: 100px;
}

.programs-section-intro h3{
    display: inline-block;
    padding: 12px 30px;
    background-color: rgba(179, 238, 205, 0.4);
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.programs-section-intro h2{
    font-size: 45px;
    font-weight: 700;
    line-height: 1.25;
    margin: 20px 0;
}

.programs-section-intro p{
     font-size: 20px;
     line-height: 1.5;
     color: rgb(50, 50, 50)
}

.programs-age-groups{
      border: 1px solid;
}













































@media(max-width: 1090px){
       .hero-texts h1{
           font-size: 45px;
       }
       .about-section-content,
       .about-section-intro{
           width: 100%;
       }
}

@media(max-width: 768px){
    .hero-texts{
          width: 85%;
          height: 40%;
    }
    .hero-texts h1{
           font-size: 36px;
    }
    .about-section-intro h2{
         font-size: 50px;
         margin: 10px 0;
    }
    .about-section-split{
         grid-template-columns: 1fr;
         gap: 30px
    }
}
@media(max-width: 550px){
     .hero-texts{
           margin-top: -2px;
     }
     .about-section-intro h2{
           font-size: 45px;
     }
     .hero-texts h1{
           font-size: 32px;
     }
     .about-section-col p{
           font-size: 20px;
     }
}